In [41]:

import numpy as np
import pandas as pd

In [42]:
pred_path="/home/u131168/mh_shell/data/custom_pred/full_pred.csv"

formatted_sub_path="/home/u131168/mh_shell/data/sub_custom.csv"

full_data_path="/home/u131168/mh_shell/data/f_data.csv"

full_data=pd.read_csv(full_data_path)

pred_data=pd.read_csv(pred_path,sep="\$\$", header=None)
pred_data.columns=['index','answer']
# pred_data=pred_data.iloc[6000:7000]
pred_data.fillna("", inplace = True)
# unknown="_."  , 
pred_data.isna().sum()
pred_data=pred_data.drop_duplicates()

pred_data_c=pred_data.copy()

pred_data_c.loc[full_data['output'].notnull(),'answer']=full_data[full_data['output'].notnull()]['output']


pred_data['answer']=pred_data['answer'].apply(lambda x: "" if str(x).strip()=="none" else x )
pred_data_c['answer']=pred_data_c['answer'].apply(lambda x: "" if str(x).strip()=="none" else x )


pred_data
# pred_data[full_data['output'].notnull()][:20]
# pred_data[pred_data.isna().any(axis=1)]

/tmp/ipykernel_2362514/476490352.py:9: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pred_data=pd.read_csv(pred_path,sep="\$\$", header=None)

      index                                             answer
0         0
1         1
2         2   for(int i = 0 i { arr.length i++) System.out....
3         3
4         4
...     ...                                                ...
1903   1903        ListString> names = new ArrayListString>();
1904   1904
1905   1905          function greet()  alert('Hello, world!');
1906   1906                       int myNum = 15; cout  myNum;
1907   1907

[1908 rows x 2 columns]

In [43]:
# !pip install -U scikit-learn scipy matplotlib
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
mlb_c = MultiLabelBinarizer()

s1 = pred_data["answer"]
s1_c = pred_data_c["answer"]

t1_c = mlb_c.fit_transform(s1_c)
t1 = mlb.fit_transform(s1)

submission = pd.DataFrame(t1_c)

# scols=len(submission.columns)
# for i in range(93-scols):
#     submission=pd.concat([submission,pd.Series([0]*len(submission),name=scols+i)],axis=1)
# submission

submission.to_csv(formatted_sub_path,index=False)

submission

,0,1,2,3,4,5,6,7,8,9,...,83,84,85,86,87,88,89,90,91,92
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,1,1,...,1,1,0,0,0,1,0,1,0,0
3,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1903,1,0,0,0,0,0,0,0,1,1,...,1,0,0,1,0,1,0,0,0,0
1904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1905,1,1,0,0,0,0,0,1,1,1,...,1,1,0,1,0,0,0,0,0,0
1906,1,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,0,0
1907,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
mlb.classes_
# mlb_c.classes_
# len(mlb.classes_)

print([i for i in mlb_c.classes_ if i not in mlb.classes_])


# stokens    +='\\',           -= '<<',

['Q', '`']